*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;/*suavizar o rolamento da página*/
}

body{
    background-color:#ffffff;     
}


/*header e menu*/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b02321;   
    z-index: 2;/*header acima do background do menu(escolha visual)*/
} 

footer {
    background-color: #B02321;
    width: 100%;
    height: 60%;
    position: absolute;
}

.logoif {
    display: block;
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 3vh;
}

.logoif>img {
    width: 35%;
    height: auto;
}

.logoif>p {
    margin-top: 3vh;
    font-size: 20px ;
    font-family: DejaVu Sans Mono, monospace;
}

@import url('https://fonts.cdnfonts.com/css/arcade-classic');
h1{
    text-align: center;
    color:#7a1715;
    font-family: 'ArcadeClassic', sans-serif;
}
h3{
    color:#7a1715;
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;

}


h4{
    text-align: center;
    color:#7a1715;
    font-family: DejaVu Sans Mono, monospace;
}


hr{
    border-color: #E91E63; 
    
}

#sectionconteudo{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

      
#titulo{
    text-align: center;
    margin: 1.5em 2.5em;
    font-size: 1.5rem;
    color:#ffffff;
    font-family:DejaVu Sans Mono, monospace;

}

#check{
    display: none;
    background-color: #f00;
}

#icone {
    cursor: pointer;
    padding: 3rem;
    position: fixed;
    z-index: 3;/*para o ícone de menu ficar acima do header*/
    margin-top: -4rem;
}

.barra{
    background-color: #B02321;
    height: 100%;
    width: 300px;
    position: fixed;
    left: -300px;
    transition: all .2s linear;
    margin-top: -50px;
}

.texto{
    margin-top: 50px;
    color: aliceblue;
    text-indent: 15px;
    text-justify: auto;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
    text-align: justify;
}




.btn { /*botão sem mouse*/
    width: 6em;
    height: 2em;
    margin: 1rem 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    background-color: #b02321;
    text-decoration: none;
    border-style:initial;
    color: #ffffff;
    border-radius: 0.3rem;
    padding: 0.5% auto;
    transition-duration: 0.2s;
}

.btn:hover { /*botão com mouse*/
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #fff;
    color: #B02321;
    box-shadow: #F05161 7px 9px 0px;
    text-decoration: none;
}

.btn:active { /*botão com mouse*/
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #fff;
    color: #B02321;
    box-shadow: #F05161 7px 9px 0px;
    text-decoration: none;
}

#voltar{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.mascote{
    position: absolute;
    display: flex;
    left: 24.3vw;
    top: 2vh; 
    height: 80%;
    width:60%;
}

.cabecalho {
    display: flex;
}

.sumario {
    /*posicionamento do sumario*/
    margin: 12vh 4vw;
    color: #B02321;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#icone {
    width: 1%;
    height: 2%;
    margin-right: 100%;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    z-index: 4;
    margin-top: -6.3em;
}
#menutroca {
    width: 45px;
    height: 45px;
    margin-top: 30px;
}

.link {
    color: #ffffff;
    font-family: OCR A Std, monospace;
    font-size: 12pt;
    padding: 2px;
    transition: all .2s linear;
    opacity: 0;
    margin-top: 300px;
}

.link:hover {
    background-color: #d87e7d;

}
.link_fontes{
color: #fff;
text-decoration: none;
font-family: OCR A Std, monospace;

}

#check:checked~.barra nav a .link {
    opacity: 8;
    margin-top: 0;
    transition-delay: .2s;
}

#check:checked~.barra {
    transform: translateX(300px);
}

.aprescabeca {
    justify-content: right;
    display: flex;
    margin-top: -6.3em;
    font-size: 15px;
    padding: 5px;
    flex-wrap: wrap;
}
.menutexto {
    color:#ffffff ;
    text-decoration: none;
    font-family: OCR A Std, monospace;
    padding: 0.5rem 0.5rem;
    
}

.menutexto:hover{
    color: #B02321;
    border-radius: 5px;
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #ffffff;
    box-shadow: #F05161 2px 3px 0px;
    text-decoration: none;
}

.curiosidades{
    display: flex;
    background-image: linear-gradient(#ffff, #B02321);
  

}
.curiosidades > p{
    margin: 2vw;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #000;
}
.mascote_curiosidades{
display: flex;
left: vw;
top: 2vh; 
height: 9%;
width: 8.05%;
}


nav {
    width: 100%;
    position: absolute;
    top: 110px;
}

nav a {
    text-decoration: none;
}

.p1 {
    margin: 1.5em 2.5em;
    font-size: 1.5rem;
    color: #16213E;
    font-family: DejaVu Sans Mono, monospace;
}

.p2 {
    margin: 2em 0.5em;
    font-size: 1.5rem;
    color: #fff;
    font-family: DejaVu Sans Mono, monospace;
}

.p3{
    text-indent: 15px;
    padding-top: 20px;
    margin: vh auto;
    text-align: center;
    font-size: 30px;
    color:#7a1715;
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;
}

#sites{
    justify-content: center;
    margin: 3vh auto;
    width: 65%;
    height: 1500px;
    display: flex;
    align-items: center;
    background-color:#b02321;
    border-radius: 3%;
}
#artigos{
    justify-content: center;
    margin: 3vh auto;
    width: 65%;
    height: 250px;
    display: flex;
    align-items: center;
    background-color:#b02321;
    border-radius: 3%;
}
#livros{
    justify-content: center;
    margin: 3vh auto;
    width: 65%;
    height: 250px;
    display: flex;
    align-items: center;
    background-color:#b02321;
    border-radius: 3%;
}
#videos{
    justify-content: center;
    margin: 3vh auto;
    width: 65%;
    height: 450px;
    display: flex;
    align-items: center;
    background-color:#b02321;
    border-radius: 3%;
}


.block{
    display: block;
}

.flex{
    display: flex;
    align-items: center;
}


.icon{
    width: 30px;
    height: 30px;
    margin-left: 3.5vw;
}



#quizz{
    display: flex;
}

.btn2 { /*botão sem mouse*/
    align-self: center;
    width: 6em;
    height: 2em;
    margin: 1rem 2rem;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 1.5rem;
    background-color: #b02321;
    text-decoration: none;
    border-style:initial;
    color: #ffffff;
    border-radius: 0.3rem;
    padding: 0.5% auto;
    transition-duration: 0.2s;
}

.btn2:hover { /*botão com mouse*/
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #000;
    color: #ffffff;
    box-shadow: #B02321 7px 9px 0px;
    text-decoration: none;
}

.btn2:active { /*botão com mouse*/
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #fff;
    color: #B02321;
    box-shadow: #F05161 7px 9px 0px;
    text-decoration: none;
}

.img1{
    margin-left: 28%;
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
}

.img2{
    margin-left: 35%;
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
}

.fadeIn{
    animation:  fadeIn 1s ease-out; /*começa e termina mais lento, com duração de 1s*/
}

@keyframes fadeIn {
    0% { opacity: 0; } /*inicio, opacidade o*/
    100% { opacity: 1; } /*fim, opacidade 100% = 1*/
}

/*estilização da barra lateral pra navegar no site*/
body::-webkit-scrollbar {
  width: 10px;/* tamanho da barra */
}

body::-webkit-scrollbar-track {
  background: #ffffff; /*cor de fundo da lateral ocupada pela barra */

}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;/*cor da barra */
  border-radius: 20px; 
  border: 3px solid #b02321;  /*um padding em volta da barra, com borda colorida */
}

@media (max-height: 600px), screen and (orientation: portrait) {/*configuracoes aplicadas em telas com essa configuracao*/
    main{
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    /*arrumando o header*/

    /*aumento da altura*/
    header{
        width: 100%;
        height: 150px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #b02321;   
        z-index: 2;/*header acima do background do menu(escolha visual)*/
    } 

    /*os links ficam embaixo e alinhados no centro*/
    .aprescabeca {
        justify-content: center;
        display: flex;
        margin-top: -1.3em;
        font-size: 15px;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .menutexto {
        color:#ffffff ;
        text-decoration: none;
        font-family: OCR A Std, monospace;
        padding: 0.5rem 0.5rem;
        
    }

    /*o mascote fica menor pra dar espaço para os links na tela*/
    .mascote{
        position: absolute;
        display: flex;
        left: 24.3vw;
        top: 2vh; 
        height: 50%;
        width:60%;
    }

    /*deixando a barra de menu a cima de todas quando clicada*/
    .cabecalho {
        display: flex;
        position: absolute; /*definindo posicao pra o z-index funcionar*/
        z-index: 4;
    }
    
    /*ajustando o h1 e botoes de link de conteudo da pagina*/
    .sumario {
        /*posicionamento do sumario*/
        display: flex;
        margin: 10vh 2vw;
        color: #B02321;
        text-align: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*ajustando o tamanho das imagens*/
    .img1{
        margin: 0 auto;
        max-width: 400px;
        max-height: 250px;
        padding: 5px;
        width: auto;
        height: auto;
    }
    



    .btn { /*botão sem mouse*/
        width: 6em;
        height: 2em;
        margin: 1rem 2rem;
        font-family:  DejaVu Sans Mono, monospace;
        font-size: 1.5rem;
        background-color: #b02321;
        text-decoration: none;
        border-style:initial;
        color: #ffffff;
        border-radius: 0.3rem;
        padding: 0.5% auto;
        transition-duration: 0.2s;
    }

    .idealizadores{
        justify-content: center;
        margin: 3vh auto;
        width: 100%;
        height: 450px;
        display: block;
        background-color:#b02321;
        border-radius: 3%;
        text-align: center;
    }

    .block{
        display: block;
    }
    
    .flex{
        display: block;
        align-items: center;
    }

    .icon{
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }
    
    .p2 {
        margin: 0.5em 0.5em;
        font-size: 1.5rem;
        color: #fff;
        font-family: DejaVu Sans Mono, monospace;
    }


    /*ajustando o footer pra ficar 100% da largura da tela*/
    footer {
        background-color: #B02321;
        width: 100%;
        height: 45%;
        position: absolute;
    
    }

    .logoif {
        display: block;
        text-align: center;
        color: #ffffff;
        position: relative;
        top: 5vh;
    }
    
    .logoif>img {
        width: 25%;
        height: auto;
    }
    
    .logoif>p {
        margin-top: 3vh;
        font-size: 15px ;
        text-align: center;
        font-family: DejaVu Sans Mono, monospace;
    }
    
    

  }

  @media (max-height: 600px), screen and (orientation: portrait) {/*configuracoes aplicadas em telas com essa configuracao*/
    main{
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    /*arrumando o header*/

    /*aumento da altura*/
    header{
        width: 100%;
        height: 150px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #b02321;   
        z-index: 2;/*header acima do background do menu(escolha visual)*/
    } 

    /*os links ficam embaixo e alinhados no centro*/
    .aprescabeca {
        justify-content: center;
        display: flex;
        margin-top: -1.3em;
        font-size: 15px;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .menutexto {
        color:#ffffff ;
        text-decoration: none;
        font-family: OCR A Std, monospace;
        padding: 0.5rem 0.5rem;
        
    }

    /*o mascote fica menor pra dar espaço para os links na tela*/
    .mascote{
        position: absolute;
        display: flex;
        left: 24.3vw;
        top: 2vh; 
        height: 50%;
        width:60%;
    }

    /*deixando a barra de menu a cima de todas quando clicada*/
    .cabecalho {
        display: flex;
        position: absolute; /*definindo posicao pra o z-index funcionar*/
        z-index: 4;
    }
    
    /*ajustando o h1 e botoes de link de conteudo da pagina*/
    .sumario {
        /*posicionamento do sumario*/
        display: flex;
        margin: 10vh 2vw;
        color: #B02321;
        text-align: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*ajustando o tamanho das imagens*/
    .img1{
        margin: 0 auto;
        max-width: 400px;
        max-height: 250px;
        padding: 5px;
        width: auto;
        height: auto;
    }
    



    .btn { /*botão sem mouse*/
        width: 6em;
        height: 2em;
        margin: 1rem 2rem;
        font-family:  DejaVu Sans Mono, monospace;
        font-size: 1.5rem;
        background-color: #b02321;
        text-decoration: none;
        border-style:initial;
        color: #ffffff;
        border-radius: 0.3rem;
        padding: 0.5% auto;
        transition-duration: 0.2s;
    }

    #sites{
        justify-content: center;
        margin: 3vh auto;
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        background-color:#b02321;
        border-radius: 3%;
    }
    #artigos{
        justify-content: center;
        margin: 3vh auto;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        background-color:#b02321;
        border-radius: 3%;
    }
    #livros{
        justify-content: center;
        margin: 3vh auto;
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        background-color:#b02321;
        border-radius: 3%;
    }
    #videos{
        justify-content: center;
        margin: 3vh auto;
        width: 100%;
        height: 450px;
        display: flex;
        align-items: center;
        background-color:#b02321;
        border-radius: 3%;
    }

    .block{
        display: block;
    }
    
    .flex{
        display: block;
        align-items: center;
    }

    .icon{
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }
    
    .p2 {
        margin: 0.5em 0.5em;
        font-size: 1.5rem;
        color: #fff;
        font-family: DejaVu Sans Mono, monospace;
    }


    /*ajustando o footer pra ficar 100% da largura da tela*/
    footer {
        background-color: #B02321;
        width: 100%;
        height: 45%;
        position: absolute;
    
    }

    .logoif {
        display: block;
        text-align: center;
        color: #ffffff;
        position: relative;
        top: 5vh;
    }
    
    .logoif>img {
        width: 25%;
        height: auto;
    }
    
    .logoif>p {
        margin-top: 3vh;
        font-size: 15px ;
        text-align: center;
        font-family: DejaVu Sans Mono, monospace;
    }
    
    

  }
