*, *::before, *::after{
    box-sizing: border-box;
    font-family:  DejaVu Sans Mono, monospace;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: DejaVu Sans Mono, monospace;
}

html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;/*suavizar o rolamento da página*/
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #7a1715;
}


main{
    display: block;
    margin-top: 100px;

}

button{
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff; /*cor de fundo*/
    color:#ffffff; /*cor de texto*/
}

.btn { /*botão sem mouse*/
    text-align: center;
    width: 6em;
    height: 2em;
    margin: 1rem 2rem;
    font-family:  'ArcadeClassic', sans-serif;
    font-size: 1.5rem;
    background-color: #fff;
    text-decoration: none;
    border-style:initial;
    color: #7a1715;
    border-radius: 0.3rem;
    padding: 0.5% auto;
    transition-duration: 0.2s;
}

.btn:hover { /*botão com mouse*/
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #000;
    color: #fff;
    box-shadow: #7a1715 7px 9px 0px;
    text-decoration: none;
}

.btn:active { /*botão com mouse*/
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #000;
    color: #fff;
    box-shadow: #7a1715 7px 9px 0px;
    text-decoration: none;
}


/*fim config quizz*/


/*header e menu*/
header{
    width: 100%;
    height: 100px;
    position:sticky;
    top: 0;
    left: 0;
    background-color: #fff;   
    z-index: 2;/*header acima do background do menu(escolha visual)*/
} 

footer {
    background-color: #fff;
    width: 100%;
    height: 80%;
    position:sticky;

}

.logoif {
    display: block;
    text-align: center;
    color: #000;
    position: relative;
    top: 5vh;
}

.logoif>img {
    width: 35%;
    height: auto;
}

.logoif>p {
    margin-top: 3vh;
    font-size: 20px ;
    font-family: DejaVu Sans Mono, monospace;
}

@import url('https://fonts.cdnfonts.com/css/arcade-classic');
h1{
    text-align: center;
    color:#fff;
    font-family: 'ArcadeClassic', sans-serif;
}
h2{
    text-align: center;
    color: #fff;
    font-family: DejaVu Sans Mono, monospace;
}
h3{
    color:#fff;
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;

}


h5{
    text-align: center;
    color:#000;
    font-family: DejaVu Sans Mono, monospace;
    text-decoration:underline #d87e7d;
}


hr{
    border-color: #E91E63; 
}

#sectionconteudo{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

      
#titulo{
    text-align: center;
    margin: 1.5em 2.5em;
    font-size: 1.5rem;
    color:#ffffff;
    font-family:DejaVu Sans Mono, monospace;

}

#check{
    display: none;
    background-color: #f00;
}

#icone {
    cursor: pointer;
    padding: 3rem;
    position: fixed;
    z-index: 3;/*para o ícone de menu ficar acima do header*/
    margin-top: -4rem;
}

.barra{
    background-color: #fff;
    height: 100%;
    width: 300px;
    position: fixed;
    left: -300px;
    transition: all .2s linear;
    margin-top: -50px;
}

.texto{
    align-items: center;
    margin-top: 50px;
    font-family: DejaVu Sans Mono, monospace;
    padding-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
}



#voltar{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.mascote{
    position: absolute;
    display: flex;
    left: 24.3vw;
    top: 2vh; 
    height: 80%;
    width:60%;
}

.cabecalho {
    display: flex;
}

.sumario {
    /*posicionamento do sumario*/
    margin: 12vh 4vw;
    color: #fff;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#icone {
    width: 1%;
    height: 2%;
    margin-right: 100%;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    z-index: 4;
    margin-top: -6.3em;
}
#menutroca {
    width: 35px;
    height: 30px;
    margin-top: 30px;
}

.link {
    color: #000;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 12pt;
    padding: 2px;
    transition: all .2s linear;
    opacity: 0;
    margin-top: 300px;
}

.link:hover {
    background-color: #d87e7d;

}

#check:checked~.barra nav a .link {
    opacity: 8;
    margin-top: 0;
    transition-delay: .2s;
}

#check:checked~.barra {
    transform: translateX(300px);
}

.aprescabeca {
    justify-content: right;
    display: flex;
    margin-top: -6.3em;
    font-size: 15px;
    padding: 5px;
    flex-wrap: wrap;
}

.menutexto {
    color:#000 ;
    text-decoration: none;
    font-family:  DejaVu Sans Mono, monospace;
    padding: 0.5rem 0.5rem;
    
}


.menutexto:hover{
    color: #fff;
    border-radius: 5px;
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #7a1715;
    box-shadow: #F05161 2px 3px 0px;
    text-decoration: none;
}
nav {
    width: 100%;
    position: absolute;
    top: 110px;
}

nav a {
    text-decoration: none;
}

.p1 {
    text-align: center;
    margin: 1em 1.5em;
    font-size: 1.5rem;
    color: #000;
    font-family: DejaVu Sans Mono, monospace;
}


.p2 {
    text-align: center;
    margin: 1em 1.5em;
    font-size: 1.5rem;
    color: #000;
    font-family: DejaVu Sans Mono, monospace;
}

#quizz{
    align-items: center;
    text-align: center;
    border-radius: 3%;
    
}
.pergunta{
    background-color: #fff;
    color:#000;
    justify-content: center;
    margin: 3vh auto;
    display: block;
    align-items: center;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 20px;
    padding:15px;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    border-style: dotted;
    border-color: #7a1715;

}


.opcoes{
    display: block;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 20px;
    padding:15px;
    justify-content: space-between;
}

.opcoes:hover{
    color: #fff;
    border-radius: 5px;
    transform: translateX(0.5%) translateY(0.5%);
    transition-duration: 0.12s;
    background-color: #000;
    box-shadow: #7a1715 2px 3px 0px;
    text-decoration: none;
}

.resposta{
    background-color: #fff;
    color:#000;
    justify-content: center;
    margin: 3vh auto;
    align-items: center;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 20px;
    padding:15px;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    border-style: dotted;
    border-color: #fff;
}








.img1{
    margin-left: 28%;
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
}

.img2{
    margin-left: 35%;
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
}

.fadeIn{
    animation:  fadeIn 1s ease-out; /*começa e termina mais lento, com duração de 1s*/
}

@keyframes fadeIn {
    0% { opacity: 0; } /*inicio, opacidade o*/
    100% { opacity: 1; } /*fim, opacidade 100% = 1*/
}

/*estilização da barra lateral pra navegar no site*/
body::-webkit-scrollbar {
  width: 10px;/* tamanho da barra */
}

body::-webkit-scrollbar-track {
  background: #ffffff; /*cor de fundo da lateral ocupada pela barra */

}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;/*cor da barra */
  border-radius: 20px; 
  border: 3px solid #b02321;  /*um padding em volta da barra, com borda colorida */
}

@media (max-width: 680px) {/*configuracoes aplicadas em telas com essa configuracao*/

    .mySlides {
        display: none ;
        margin-top: 150px;
    }

    /*aumento da altura*/
    header{
        width: 100%;
        height: 150px;
        position:sticky;
        top: 0;
        left: 0;
        background-color: #b02321;   
        z-index: 2;/*header acima do background do menu(escolha visual)*/
    } 

    /*os links ficam embaixo e alinhados no centro*/
    .aprescabeca {
        justify-content: center;
        display: flex;
        margin-top: -1.3em;
        font-size: 15px;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .menutexto {
        color:#ffffff ;
        text-decoration: none;
        font-family: OCR A Std, monospace;
        padding: 0.5rem 0.5rem;
        
    }

    /*o mascote fica menor pra dar espaço para os links na tela*/
    .mascote{
        position: absolute;
        display: flex;
        left: 24.3vw;
        top: 2vh; 
        height: 50%;
        width:60%;
    }

    /*deixando a barra de menu a cima de todas quando clicada*/
    .cabecalho {
        display: flex;
        position: absolute; /*definindo posicao pra o z-index funcionar*/
        z-index: 4;
    }
    
    /*ajustando o h1 e botoes de link de conteudo da pagina*/
    .sumario {
        /*posicionamento do sumario*/
        display: flex;
        margin: 10vh 2vw;
        color: #B02321;
        text-align: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*ajustando o tamanho das imagens*/
    .img1{
        margin-left: 18%;
        max-width:300px;
        max-height:150px;
        width: auto;
        height: auto;
    }
    
    .img2{
        margin-left: 25%;
        max-width:100px;
        max-height:150px;
        width: auto;
        height: auto;
    }



    .btn { /*botão sem mouse*/
        width: 6em;
        height: 2em;
        margin: 1rem 2rem;
        font-family:  DejaVu Sans Mono, monospace;
        font-size: 1.5rem;
        background-color: #b02321;
        text-decoration: none;
        border-style:initial;
        color: #ffffff;
        border-radius: 0.3rem;
        padding: 0.5% auto;
        transition-duration: 0.2s;
    }



    /*ajustando o footer pra ficar 100% da largura da tela*/
    footer {
        background-color: #fff;
        width: 150%;
        height: 45%;
        margin-left: -10%;
        position:sticky;
    
    }

    .logoif {
        display: block;
        text-align: center;
        color: #000;
        position: relative;
        top: 5vh;
    }
    
    .logoif>img {
        width: 25%;
        height: auto;
    }
    
    .logoif>p {
        margin-top: 3vh;
        font-size: 15px ;
        text-align: center;
        font-family: DejaVu Sans Mono, monospace;
    }
    
    

}


.mySlides {
    display: none ;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;

}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #000;
}



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: 1s ease;
}

.active,
.dot:hover {
    background-color: #F05161;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}



